---
import Layout from "../layouts/Layout.astro";
import DynamicIcon from "../components/DynamicIcon.astro";
import Button from "../components/Button.astro";
import Arrow from "../components/Arrow.astro";
---
<Layout title="פעילות יום שעות ארוך">
 <div class="w-[150px] mt-0 mb-5 ml-6 mr-0">
  <Button
  className="py-[4px] px-3 flex-row-reverse"
  title="חזרה לקטגוריות"
  href="/"
  >
  <Arrow width={8} height={8} direction="right" />
 </Button>
</div>

<main>
  <div class="mb-4">פעילות יצירה</div>
    <div class="mb-4">הקליקו על קטגוריה כדי לצפות בפעילויות:</div>
    <div
      role="list"
      class="flex justify-center flex-wrap md:w-[700px] w-full mx-auto">
      <DynamicIcon
      href="/activity/1.pdf"
      title="מקשטים כובע לקיץ עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/2.pdf"
      title="מסגרת לתמונה עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/3.pdf"
      title="קופסה לעטים ועפרונות עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/4.pdf"
      title="בקבוק שוקולד בהרבה צבעים עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/5.pdf"
      title="עציץ עם קישוטים עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/6.pdf"
      title="שלט לדלת עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/7.pdf"
      title="קישוט לחדר עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/8.pdf"
      title="דג צף עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/9.pdf"
      title="עץ עם פרחים עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />
      
      <DynamicIcon
      href="/activity/10.pdf"
      title="שקית סבון עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />




            <DynamicIcon
      href="/activity/11.pdf"
      title="עציץ עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/12.pdf"
      title="שלט לדלת עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/13.pdf"
      title="ברכה לחג עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/14.pdf"
      title="יצירה של הרבה תמונות עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/15.pdf"
      title="מדליה עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/16.pdf"
      title="קופסה לממתקים עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/17.pdf"
      title="קישוט לחדר עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/18.pdf"
      title="מחזיק מפתחות עם חרוזים עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/19.pdf"
      title="קישוט לעוגה בצורת חד-קרן עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/20.pdf"
      title="סירה מפקקים של יין עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/21.pdf"
      title="כרטיס ברכה לב קופץ עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/22.pdf"
      title="מחזיק מפתחות עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

      <DynamicIcon
      href="/activity/23.pdf"
      title="מחזיק מפתחות עם חרוזים עם שער"
      subtitle=""
      externalLink={false}
      className="border-b-lightBlue-400"
      icon="../icons/summer_booklet.ico"
      />

    </div>
  </main>
</Layout>
