---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Location from "../components/Location.astro";
import Recipe from "../components/Recipe.astro";
import Puzzle from "../components/Puzzle.astro";
import Book from "../components/Book.astro";
import Sport from "../components/Sport.astro";
import Health from "../components/Health.astro";
import DynamicIcon from "../components/DynamicIcon.astro";
---

<Layout title="פעילויות בחירום">
  <main>
<div class="mb-4">לפניכם דף בו מרוכזים קישורים לפי נושאים למגוון פעילויות המתאימות לחניכים ולדיירים שלנו.</div>
    <div class="mb-4">הקליקו על קטגוריה כדי לצפות בפעילויות:</div>
    <div
      role="list"
      class="flex justify-center flex-wrap md:w-[700px] w-full mx-auto">

      <DynamicIcon
      href="https://specialforme.org/"
      title="בריאות"
      subtitle=""
      externalLink={true}
      className="border-b-purple-400"
      icon="icons/health.ico"
      />

      <DynamicIcon
      href="/cities"
      title="פעילויות ערים"
      subtitle=""
      externalLink={false}
      className="border-b-orange-400"
      icon="icons/cities.ico"
      />

      <DynamicIcon
      href="https://zuzuspecialoly.kshalem.org.il/"
      title="פעילויות-ספורט"
      subtitle=""
      externalLink={true}
      className="border-b-haki-400"
      icon="icons/sport.ico"
      />

      <DynamicIcon
      href="/stories"
      title="סיפורים בשפה פשוטה"
      subtitle=""
      externalLink={false}
      className="border-b-green-400"
      icon="icons/stories.ico"
      />

      <DynamicIcon
      href="/recipes"
      title="מתכונים"
      subtitle=""
      externalLink={false}
      className="border-b-pink-400"
      icon="icons/recipes.ico"
      />

      <DynamicIcon
      href="https://lilach.kshalem.org.il/seeme/story.html"
      title="תראו אותי"
      subtitle=""
      externalLink={true}
      className="border-b-lightBlue-400"
      icon="icons/eyes.ico"
      />
    </div>
  </main>
</Layout>
